PROJECT_VOLUME_SRC=./src/app
NGINX_FILE=local_nginx.conf

POSTGRES_USER=*****
POSTGRES_PASSWORD=******
POSTGRES_DATABASE=*******

LIVEKIT_API_KEY=*****
LIVEKIT_API_SECRET=****
LIVEKIT_HOST=http://livekit:7880
LIVEKIT_WS_URL=wss:/*******