DEBUG=True
HOST=localhost
PORT=8000
SECRET_KEY=kjnvkjnkjvnkjvndvkjdv
APP_DOMAIN=localhost
FRONTEND_BASE_URL=http://localhost

USERNAME=****
PASSWORD=****

POSTGRES_USER=************
POSTGRES_PASSWORD=************
POSTGRES_DATABASE=************
POSTGRES_PORT=5432
POSTGRES_HOST=postgres_pr
